@charset "UTF-8";
/*!
 * ress.css • v4.0.0
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */
hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
  height: 0;
  /* Add the correct box sizing in Firefox */
  color: inherit;
  /* Correct border color in Firefox. */
}

details,
main {
  display: block;
  /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none;
  /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

pre {
  font-size: 1em;
  /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder;
  /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit;
  /* Correct border color in all Chrome, Edge, and Safari. */
  text-indent: 0;
  /* Remove text indentation in Chrome, Edge, and Safari */
}

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
  /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type=search] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
  cursor: pointer;
  color: inherit;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled=true] {
  cursor: default;
}

body {
  font-family: "M+ M Type-1 (basic latin) Regular", "M+ Type-1 (general-j) Regular", sans-serif;
  color: #3C2A10;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

.l-header {
  width: 100%;
  height: 217px;
  background-color: #FFF7EF;
}

.l-main {
  width: 100%;
  height: 2349px;
}

.l-footer {
  height: 150px;
  background-color: blue;
}

.c-box {
  border-radius: 10px;
  border: 1px solid #707070;
}

.c-button {
  border-radius: 10px;
  border: 1px solid #707070;
  cursor: pointer;
}

.c-hero {
  background-size: cover;
  background-position: center center;
  height: 285px;
  line-height: 285px;
  font-size: 1.5rem;
  font-weight: bold;
}

.c-service {
  background-size: cover;
  background-position: center center;
  height: 642px;
}

.p-global-navigation {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  text-align: center;
  opacity: 0.7;
}
@media (min-width: 1025px) {
  .p-global-navigation {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: calc(100vw * 65 /1920);
    padding-right: calc(100vw * 31 /1920);
  }
}
.p-global-navigation__logo-title {
  margin-top: 40px;
  margin-bottom: 38px;
  font-size: 2.5rem;
  font-weight: bold;
}
@media (min-width: 1025px) {
  .p-global-navigation__logo-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 4rem;
  }
}
.p-global-navigation__logo-menu {
  width: calc(100vw * 51 /375);
  height: auto;
  position: absolute;
  top: calc(100vw * 14 /375);
  right: calc(100vw * 16 /375);
}
@media (min-width: 600px) {
  .p-global-navigation__logo-menu {
    width: calc(100vw * 86 /834);
    top: calc(100vw * 18 /834);
    right: calc(100vw * 26 /834);
  }
}
@media (min-width: 1025px) {
  .p-global-navigation__logo-menu {
    display: none;
  }
}

.p-search-form {
  height: 46px;
  width: calc(100vw * 320 /375);
  margin-left: calc(100vw * 24 /375);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 600px) {
  .p-search-form {
    width: calc(100vw * 546 /834);
    margin-left: calc(100vw * 144 /834);
  }
}
@media (min-width: 1025px) {
  .p-search-form {
    width: calc(100vw * 545 /1920);
  }
}
.p-search-form__box {
  width: calc(100vw * 230 /375);
  margin-right: calc(100vw * 12 /375);
  padding-left: calc(100vw * 16 /375);
  background-color: #fff;
}
@media (min-width: 600px) {
  .p-search-form__box {
    width: calc(100vw * 396 /834);
    margin-right: calc(100vw * 14 /834);
    padding-left: calc(100vw * 12 /834);
  }
}
@media (min-width: 1025px) {
  .p-search-form__box {
    width: calc(100vw * 396 /1920);
    margin-right: calc(100vw * 13 /1920);
    padding-left: calc(100vw * 12 /1920);
  }
}
.p-search-form .fas.fa-search {
  font-family: "Font Awesome 5 Free";
  font-size: 1.5rem;
  color: #707070;
}
.p-search-form__button {
  font-size: 1rem;
  font-weight: bold;
  width: calc(100vw * 78 /375);
  background: -webkit-gradient(linear, left top, left bottom, from(#F2EDE9), to(#DED8D3));
  background: -webkit-linear-gradient(#F2EDE9, #DED8D3);
  background: linear-gradient(#F2EDE9, #DED8D3);
}
@media (min-width: 600px) {
  .p-search-form__button {
    width: calc(100vw * 136 /834);
  }
}
@media (min-width: 1025px) {
  .p-search-form__button {
    width: calc(100vw * 136 /1920);
  }
}

.p-hero {
  background-image: url(images/index_hero_img.jpg);
  padding-left: calc(100vw * 25 /375);
}

.p-service {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 600px) {
  .p-service {
    margin-top: 40px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.p-service__item {
  background-image: url(images/index_img01.jpg);
  width: calc(100vw * 335 /375);
}
@media (min-width: 600px) {
  .p-service__item {
    width: calc(100vw * 357 /834);
  }
}
.p-service__item__title {
  position: relative;
  font-size: 2.56em;
  font-weight: bold;
  padding-top: 13px;
  margin-left: calc(100vw * 10 /375);
  margin-bottom: 235px;
}
@media (min-width: 600px) {
  .p-service__item__title {
    margin-left: calc(100vw * 10 /834);
  }
}
.p-service__item__title::after {
  position: absolute;
  top: 80px;
  left: 0;
  content: "";
  width: 10%;
  height: 4px;
  background-color: #fff;
}
.p-service__item__description {
  width: calc(100vw * 314 /375);
  margin-left: calc(100vw * 11 /375);
}
@media (min-width: 600px) {
  .p-service__item__description {
    width: calc(100vw * 334 /834);
    margin-left: calc(100vw * 11 /834);
  }
}

.p-service__item.-takein {
  background-image: url(images/index_img02.jpg);
}

.p-service dl {
  background-color: #fff;
  opacity: 0.8;
  height: 163px;
  padding-top: 19px;
  padding-left: calc(100vw * 11 /375);
}
@media (min-width: 600px) {
  .p-service dl {
    padding-left: calc(100vw * 11 /834);
  }
}
.p-service dl dt {
  font-size: 1.375rem;
  font-weight: bold;
}
.p-service dl dd {
  font-weight: normal;
  margin-top: 19px;
}

.p-service dl + dl {
  margin-top: 10px;
}

.p-service section + section {
  margin-top: 20px;
}
@media (min-width: 600px) {
  .p-service section + section {
    margin-top: 0;
    margin-left: calc(100vw * 41 /834);
  }
}

.u-font-white {
  color: #fff;
}

.u-font-roboto {
  font-family: "Roboto", sans-serif;
}