//カラー
$brown:#707070;
$beige:#FFF7EF;
$cream:linear-gradient(#F2EDE9, #DED8D3);

//横幅
$width-sp: 375;
$width-tab: 834;
$width-pc: 1920;

//レスポンシブ
$breakpoints: (
  //iPhone用
  "sp": "(max-width: 599px)",
  //iPad用
  "tab": "(min-width: 600px)",
  //PC用
  "pc": "(min-width: 1025px)"
);