@use "../global" as *;

.p-global-navigation {
  padding-top: 40px;
  position: relative;
  text-align: center;

  &__logo-title {
    width: calc(100vw * 203 /#{$width});//imgは置換インライン要素のため、高さ・幅の指定が可能
    height: auto;
  }

  &__logo-menu {
    width: calc(100vw * 51 /#{$width});
    height: auto;
    position: absolute;
    top: calc(100vw * 14 /#{$width});
    right: calc(100vw * 16 /#{$width});
  }
}
